<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <div>
        <img src="{{product.imageURL}}" alt="" width="400px" height="400px">
        <br>
        <h4>{{product.name}}</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quis, minus alias cum illo error eius sed consequuntur quo, qui mollitia rerum! Laboriosam reiciendis explicabo, quaerat eum nesciunt qui perferendis.</p>
        

    </div>
</body>
</html>